# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
C:/Users/Asus/source/repos/Frontend_Proyect_Personal/ESTREMOR/src/apis-routes.ts
node_modules
src/apis-routes.ts
.pack
